# Database
DB_NAME=
DB_ROOT_PASSWORD=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=

# JWT
JWT_SECRET=
JWT_EXPIRATION_MS=1800000
JWT_REFRESH_EXPIRATION_MS=86400000

# AES Encryption (32자 이상 권장)
AES_SECRET_KEY=

# CODEF API
CODEF_CLIENT_ID=
CODEF_CLIENT_SECRET=
CODEF_PUBLIC_KEY=

# OpenAI
OPENAI_API_KEY=

# Redis
REDIS_PASSWORD=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=
