# Database
# DB_PASSWORD =
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=

# JWT
JWT_SECRET=
JWT_EXPIRATION_MS=3600000

# AES Encryption (32자 이상 권장)
AES_SECRET_KEY=

# CODEF API
CODEF_CLIENT_ID=
CODEF_CLIENT_SECRET=
CODEF_PUBLIC_KEY=

# OpenAI
OPENAI_API_KEY=
