# Database
DB_NAME=flowfin
DB_ROOT_PASSWORD=
DB_USERNAME=root
DB_PASSWORD=
DB_PORT=3307

# JWT
JWT_SECRET=
JWT_EXPIRATION_MS=3600000

# AES Encryption
AES_SECRET_KEY=

# CODEF API
CODEF_CLIENT_ID=
CODEF_CLIENT_SECRET=
CODEF_PUBLIC_KEY=

# OpenAI
OPENAI_API_KEY=
